{
  "printWidth": 80,
  "endOfLine": "lf",
  "maxLineLength": 100,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
